table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

 td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

thead {
	background-color: gray;
}

tbody tr {
    border: 1px solid black;
}

tbody tr:hover{
	background-color: green !important;
}

.selected {
	background-color: green !important;
}

.narrow {
    width: 100px
}