{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link >
</head>
<body>
  <form onsubmit="openpage()">
    <div class="container">
      <center><h2>Login</h2></center>
      <label for="uname"><b>Username</b></label><br>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br>
      <label for="psw"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" onsubmit="openpage()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

  <p id="demo"></p>

  <script>
    function openpage() {
      if user.is_authenticated{
        window.open("http://127.0.0.1:8000/employee");
      }
      else{
        document.getElementById("demo").innerHTML = 'wrong entry';
      }
    }

  </script> 
</body>
</html>