{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/monthly.css' %}">
{% endblock %}

{% block content %}
<p>Month:</p>
<div class="drop">
   <select>
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
  </select>
</div>
<br><br>

<table>
  <thead>
    <th>Employee name</th>
    <th>Hour Worked</th>
    <th>Total salary</th>
  </thead>
  <tbody>
    <tr>
      <td>Budi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Joko</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Eddrick</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<!--<script type="php">
      $servername = "localhost";
      $username = "username";
      $password = "password";
      $dbname = "payroll_db";

      // Create connection
      $conn = new mysqli($dbname);

      $result = mysqli_query($con,"SELECT * FROM employee");
      while($row = mysqli_fetch_array($result)){
        echo "<tr>";
        echo "<td>" . $row['Emp. No'] . "</td>";
        echo "<td>" . $row['Employee name'] . "</td>";
        echo "<td>" . $row['Salary'] . "</td>";
        echo "</tr>";
        }
      echo</tbody>;
    </script>-->

<script>
  function highlight(e) {
    if (selected[0]) selected[0].className = '';
    e.target.parentNode.className = 'selected';
  }

  var table = document.getElementById('table'),
    selected = table.getElementsByClassName('selected');
table.onclick = highlight;
</script>
{% endblock %}
