<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <style>
    .wrapper {
      padding-left: 300px;
    }

    .money {
      font-size: 40px !important;
    }
  </style>
</head>

<body>
  <ul id="slide-out" class="side-nav fixed ">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="">
        </div>
        <a href="#!user"><img class="circle" src="http://wpidiots.com/html/writic/red-writic-template/css/img/demo-images/avatar1.jpg"></a>
        <a href="#!name"><span class="black-text name">John Doe</span></a>
        <a href="#!email"><span class="black-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a class = "waves-effect" href="#!"><i class="material-icons cyan-text text-darken2">insert_chart</i>Grafik Analisis</a></li>
    <li><a class = "waves-effect" href="#!"><i class="material-icons  green-text">add_circle</i>Tambah Pemasukan</a></li>
    <li><a class = "waves-effect" href="#!"><i class="material-icons red-text">remove_circle</i>Tambah Pengeluaran</a></li>
    <li><a class = "waves-effect" href="#!"><i class="material-icons teal-text text-darken2">view_list</i>Data keuangan</a></li>
    <li><a class = "waves-effect" href="#!"><i class="material-icons brown-text">help</i>Help</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Support Us</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons light-green-text">monetization_on</i>Donate Now</a></li>
  </ul>



  <div class="wrapper">
    <nav>
      <div class="nav-wrapper green lighten-1">
        <a href="#" class="brand-logo right">Budget App<i class="money material-icons">attach_money</i></a>

      </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row container">
      <div class="row"></div>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card-panel white">
            <div class="row ">
              <table>
        <thead>
          <tr>
              <th>Kategori</th>
              <th>Tipe</th>
              <th>Nominal</th>
              <th>Tanggal</th>
              <th>Saldo</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Gaji</td>
            <td>Pemasukan  </td>
            <td class = "green-text">$50.00 <i class="tiny material-icons  green-text">add_circle</i></td>
            <td>20 October, 2017</td>
            <td>$50.76</td>
          </tr>

          <tr>
            <td>Makan</td>
            <td>Pengeluaran</td>
            <td class = "red-text">$2.00 <i class="tiny material-icons red-text">remove_circle</i></td>
            <td>1 October, 2017</td>
            <td>$1.76</td>
          </tr>
          <tr>
            <td>Deposito</td>
            <td>Pemasukan </td>
            <td class = "green-text">$3.76 <i class="tiny material-icons  green-text">add_circle</i></td>
            <td>17 October, 2017</td>
            <td>$3.76</td>

          </tr>
        </tbody>
      </table>
            </div>

          </div>
        </div>
      </div>
    </div>



  </div>
  </div>



  </div>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
</script>

</html>
